%h2 #{@event.title}
%p.date #{@event.date}

.event-description #{@event.description}
%p.timing Starts at: #{@event.start_time}, #{@event.start_date}. Finishes at: #{@event.finish_time}, #{@event.finish_date}

- if @event.locked?
  %p.locked This Event is now Locked. You cannot change your bid.

- if !@event.locked? || admin?
  %form#signup-form{:method => :post, :action => "/events/#{@event.id}/allocate"}
    %fieldset.allocate
      %legend Are you attending?
      %label{:name => :cadet_id} Name
      %select#cadet_id{:name => :cadet_id}
        %option{:value => "nil"} Select your name...
        - @cadets.each do |c|
          %option{:value => c.id} #{c.full_name}

      %br
      %label{:name => :attending} Attending?
      %input#attending{:type => :radio, :name => :attending, :value => :true} Yes
      %input#attending{:type => :radio, :name => :attending, :value => :false} No

      -unless admin?
        %br
        %label{:name => :code} Your Code
        %input#code.short{:type => :text, :name => :code, :size => 3}
      -else
        %input#is-admin{:type => :hidden, :value => "true"}

      %p I will <span id="not_be">not </span>be attending the above event.
      %input#submit_form{:type => :submit, :value => "Submit"}


-if admin?
  //Right Bodge for Locking Events.
  -if @event.locked?
    %form{:action => "/events/#{@event.id}/togglelock", :method => :post}
      %input{:type => :hidden, :name => :_method, :value => "put"}
      %input{:type => :submit, :value => "Unlock event"}
  -else
    %form{:action => "/events/#{@event.id}/togglelock", :method => :post}
      %input{:type => :hidden, :name => :_method, :value => "put"}
      %input{:type => :submit, :value => "Lock event"}

  %form{:method => :post, :action => "/events/#{@event.id}"}
    %fieldset
      %legend Event Administration
      %input{:type => :hidden, :name => :_method, :value => "delete"}
      %input{:type => :submit, :value => "Delete"}
      %a{:href => "/events/#{@event.id}/edit"} Edit


#lists_container
  .list
    %h3 Attending
    %ul
      - @attending_cadets.each do |c|
        %li #{c.full_name}
  .list
    %h3 Not Attending
    %ul
      - @absent_cadets.each do |c|
        %li #{c.full_name}
  .list
    %h3 Not Responded
    %ul
      - @cadets_not_responded.each do |c|
        %li #{c.full_name}
.clear
